@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=lilita+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading;
}

.bg-primary {
    background-color: white; /* Light mode background */
  }
  
  .dark .bg-primary {
    background-color: black; /* Dark mode background */
  }

.textEllipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-track {
  @apply bg-light-primary; /* Light mode primary color for track */
}

.dark .custom-track {
  @apply bg-dark-primary; /* Dark mode primary color for track */
}

.custom-thumb {
  @apply bg-light-tertiary; /* Light mode secondary color */
}

.dark .custom-thumb {
  @apply bg-dark-secondary; /* Dark mode secondary color */
}

.MuiIcon-colorPrimary {
  @apply text-light-primary; 
}

.dark .MuiIcon-colorPrimary {
  @apply text-dark-primary; 
}