@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=lilita+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-body;
}

h1,
h2,
h3 {
    @apply font-subheading;
}
h4,
h5,
h6 {
    @apply font-heading;
}

.textEllipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-track {
  @apply bg-light-primary; /* Light mode primary color for track */
}

.dark .custom-track {
  @apply bg-dark-primary; /* Dark mode primary color for track */
}

.custom-thumb {
  @apply bg-light-tertiary; /* Light mode secondary color */
}

.dark .custom-thumb {
  @apply bg-dark-secondary; /* Dark mode secondary color */
}

.MuiIcon-colorPrimary {
  @apply text-light-primary; 
}

.dark .MuiIcon-colorPrimary {
  @apply text-dark-primary; 
}

.btn {
  @apply p-3 font-bold text-light-quaternary dark:text-dark-quaternary flex space-y-4 flex-col bg-light-primary dark:bg-dark-primary rounded-lg hover:bg-light-quaternary hover:text-light-primary dark:hover:bg-dark-tertiary dark:hover:text-dark-primary transition duration-300;
}

.leaderboard-container {
  @apply bg-light-tertiary dark:bg-dark-quaternary  p-4 rounded-lg shadow-md mx-auto my-8;
}

.leaderboard-heading {
  @apply text-xl font-bold mb-4 text-light-quaternary dark:text-dark-primary text-center md:text-2xl;
}

.leaderboard-table {
  @apply w-full text-sm text-center divide-y divide-gray-200 bg-white rounded-lg overflow-hidden opacity-50;
}

.table-header {
  @apply bg-light-primary dark:bg-dark-primary text-center font-semibold text-light-quaternary dark:text-dark-quaternary;
}

.table-cell {
  @apply px-4 py-2 text-xs md:px-6 md:py-3 md:text-sm;
}

.bg-level-0 {
  @apply bg-light-secondary dark:bg-dark-secondary;
}
.bg-level-1 {
  @apply bg-light-tertiary dark:bg-dark-primary;
}